h1{
  text-align: center;
}

#imageheader {
  text-align: center ;
  border-style: double;
  color: rgb(120, 38, 100)
}

body {
  background-color: rgb(108, 159, 87);
  /* height: 2000px; */
}

input [type="radio"] {
  display: none;
}

